/* GENERAL SETTINGS */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 100vh;
    padding: 0;
    overflow: hidden;
    background-color: darkgreen;
}

/* HEADER */
header {
    width: 100%;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;

}

/* MAIN SECTION */
main {
    width: 80%;
    max-width: 1000px;
    margin: 20px 0;
    text-align: center;
    background-color:white;
    padding: 20px;
    box-sizing: border-box;
}

/* FOOTER */
footer {
    width: 100%;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
}

/* HOME ELEMENTS */
.big {
    width: 130px;
    height: 130px;
    transform: translateY(-10px);
}

.font32 {
    font-size: 36px;
}

.flexa {
    display: flex;
    align-items: center;
}

.red {
    color: red;
}

.black {
    color: black;
}

.font_grande_piu_grande {
    font-size: 16vh;
    transform: translateY(-20px);
}

/* LIST */
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* DIMENSIONS EQUAL */
.dim_uguale {
    width: 380px;
    height: 60px;
    margin: 2px;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.balance {
    margin-left: 10px;
}

/* CHOICE AND CONTENT */
.scelta,
.content {
    width: 20%;
    max-width: 200px;
}

/* TABLES */
.table_not_table {
    display: flex;
    flex-direction: row;
}

/* HOME */
.home {
    display: block;
}
